body { 
    background: white;
    font: 10pt verdana, arial, sans-serif;
}

.src-clojure { 
    background: #171717; 
    color: #BBB; 
    font-family: consolas, courier new, courier, monospace; 
}

.code-highlighted { 
    background: #555;
}

#postamble { 
    border-top: 1px solid black;
    font-size: 10px; 
}

code,pre{
    font: 10pt courier new, courier, monospace;
}